<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SettingsWallpaper</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.popsicletreehouse.settingswallpaperprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.settingswallpaper.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.popsicletreehouse.settingswallpaperprefs</string>
            <key>default</key>
            <string>0</string>
            <key>key</key>
            <string>wallpaperMode</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Lock</string>
                <string>Home</string>
            </array>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.settingswallpaper.prefschanged</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.popsicletreehouse.settingswallpaperprefs</string>
			<key>key</key>
			<string>isBlur</string>
			<key>label</key>
			<string>Enable Blur</string>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.settingswallpaper.prefschanged</string>
		</dict>
		<dict>
            <key>cell</key>
            <string>PSSegmentCell</string>
            <key>defaults</key>
            <string>com.popsicletreehouse.settingswallpaperprefs</string>
            <key>default</key>
            <string>0</string>
            <key>key</key>
            <string>blurType</string>
            <key>validValues</key>
            <array>
                <string>0</string>
                <string>1</string>
                <string>2</string>
            </array>
            <key>validTitles</key>
            <array>
            	<string>Auto</string>
                <string>Dark</string>
                <string>Light</string>
            </array>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.settingswallpaper.prefschanged</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.popsicletreehouse.settingswallpaperprefs</string>
			<key>key</key>
			<string>blurIntensity</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>label</key>
			<string>Background Blur Intensity</string>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.settingswallpaper.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cells</string>
			<key>footerText</key>
			<string>Does not require a respring. Updates Immediately</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.popsicletreehouse.settingswallpaperprefs</string>
			<key>key</key>
			<string>cellBGAlphaEnabled</string>
			<key>label</key>
			<string>Enable Cell Alpha</string>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.settingswallpaper.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.popsicletreehouse.settingswallpaperprefs</string>
			<key>key</key>
			<string>cellBackgroundAlpha</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>1</real>
			<key>showValue</key>
			<true/>
			<key>label</key>
			<string>Cell Background Alpha</string>
			<key>PostNotification</key>
			<string>com.popsicletreehouse.settingswallpaper.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Github</string>
			<key>action</key>
			<string>openGithub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reddit</string>
			<key>action</key>
			<string>openReddit</string>
		</dict>
	</array>
	<key>title</key>
	<string>SettingsWallpaper</string>
</dict>
</plist>
